.docExplorerWrap {
  height: unset !important;
  min-width: unset !important;
  width: unset !important;
}

.doc-explorer-title-bar {
  height: 40px;
  display: flex;
  align-items: center;
}

.doc-explorer-title {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 10px;
}

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: var(--font-size-body) !important;
  padding: 0 !important;
}

.graphiql-explorer-root > div:first-child {
  padding-left: var(--px-8);
  overflow: auto !important;
}
.graphiql-explorer-root > div:nth-child(2) {
  padding-top: 10px;
}

.graphiql-explorer-root > div:first-child::-webkit-scrollbar {
  background-color: #090218;
  width: 5px;
  height: 5px;
}
.graphiql-explorer-root > div:first-child::-webkit-scrollbar-thumb {
  background-color: #332b52;
}

.graphiql-explorer-root > div:first-child > div {
  padding-top: 5px !important;
}

.graphiql-explorer-root input {
  background-color: #181327;
  border: 1px solid #332b52 !important;
  outline: none !important;
  border-radius: 10px;
  padding: 5px 10px;
  min-width: 100px !important;
}

.graphiql-explorer-root select {
  display: none;
}
.variable-editor-title {
  justify-content: center;
}
.variable-editor-title > span::after {
  content: 'Query';
  pointer-events: none;
}
